<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">  

    <head th:include="fragments :: head('Detalhe sobre amigos')">
        <title>teste</title>
    </head>    
    <body>

        <div th:replace="fragments :: navbar">
        </div>
        
        <div class="container" style="margin-top: 80px;">

            <h2>Veja seus convites pendentes</h2>
            <form action="#" th:action="@{/amigos}" th:object="${usuario}" method="POST">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th th:text="Nome" />
                            <th th:text="Cidade" />
                            <th th:text="#{usuario.nascimento}"/>
                            <th th:text="Aceitar"/>
                            <th th:text="Recusar"/>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="u : ${usuarios}">
                            <td th:text="${u.nome}">NOME</td>
                            <td th:text="${u.cidade}">CIDADE</td>
                            <td th:text="${u.nascimento}">DATA</td>
                            <td>
                                <a th:href="@{/aceitar/{id}(id=${u.id})}" class="btn btn-default btn-xs">Aceitar</a>                                
                            </td>
                            <td>
                                <a th:href="@{/recusar/{id}(id=${u.id})}" class="btn btn-default btn-xs">Recusar</a>                                
                            </td>
                        </tr>
                    </tbody>
                </table>

                <h2 style="margin-top: 80px;">Estes são seus amigos!</h2>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th th:text="Nome" />
                            <th th:text="Cidade" />
                            <th th:text="#{usuario.nascimento}"/>
                            <th th:text="Email"/>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="u : ${listaAmigos}">
                            <td th:text="${u.nome}">NOME</td>
                            <td th:text="${u.cidade}">CIDADE</td>
                            <td th:text="${u.nascimento}">DATA</td>
                            <td th:text="${u.email}">EMAIL</td>
                        </tr>
                    </tbody>
                </table>
            </form>

        </div>
    </body>
</html>