<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">  

    <head th:include="fragments :: head('Feed de noticias')">
        <title>teste</title>
    </head>

    <body>
        <div id="fundo-externo">
            <div id="fundo">
                <img src="http://media-cdn.incondicionais.com.br/media/galeria/628/3/6/2/8/n_gremio_papel_de_parede_wallpapers-388263.jpeg" alt="opa"/>
            </div>
        </div> 
        <div th:replace="fragments :: navbar">
            <!-- pega do templates/fragments.html o frament:navbar -->
        </div>

        <div class="container-fluid">
            <header class="row">

            </header>
            <div class="row">
                <div role="main" class="col-md-6 col-md-push-3"> <!-- PRINCIPAL -->
                    <form action="#" th:action="@{/postar}" th:object="${postagem}" method="POST">
                        <input type="hidden" th:field="*{id}"/> 

                        <div class="form-group">
                            <input id="input-post" maxlength="255" class="form-control" type="text" th:field="*{texto}" placeholder="Compartilhe algo com seus amigos!" required="required"/>
                            <span th:if="${#fields.hasErrors('texto')}" th:errors="*{texto}"></span>
                        </div>

                        <!--         <select hidden="hidden" name="user">
                                       <option sec:authorized="name"></option>
                                  </select>   -->

                        <div>
                            <input class="btn btn-primary" type="submit" th:value="Postar" />
                        </div>
                        <h3>Veja o post dos seus amigos</h3>

                        <div class="panel panel-info" th:each="p : ${postagens}">
                            <div class="panel-heading">
                                <h3 class="panel-title" th:text="${p.usuario.nome}"></h3>
                                <span th:text="${p.dataPostagem}"></span>
                            </div>
                            <div  class="panel-body" th:text="${p.texto}">
                            </div>
                        </div>
                    </form>


                </div>
                <aside role="complementary" class="col-md-3 col-md-push-3">  <!-- DIREITA -->
                    <h4 class="laterais">Amigos</h4>
                    <div th:each="u : ${usuarios}">
                        <hr></hr>
                        <span>
                            Nome:
                            <span th:text="${u.nome}">                         
                            </span>
                        </span>
                        <div>
                            <span>
                                Quantidade de posts:
                                <span th:text="${u.postagens.size()}">                         
                                </span>
                            </span>
                        </div>
                    </div>
                </aside>
                <nav class="col-md-3 col-md-pull-9" id="perfil"> <!-- ESQUERDA -->
                    <h4 class="laterais">Perfil</h4>
                    <div>
                        <span>
                            Quantidade de posts:
                            <span th:text="${atual.postagens.size()}">                         
                            </span>
                        </span>
                        <div>
                            <span>
                                Quantidade de amigos:
                                <span th:text="${usuarios.size()}">                         
                                </span>
                            </span>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </body>

</html>