<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:include="fragments :: head('Login')">
        <title>Teste</title>
    </head>

    <body style="background-image: url(https://i.ytimg.com/vi/3K0PKpGzCCU/maxresdefault.jpg)">
        <div class="container">
            <h1 style="color: royalblue; text-align: center">Gremistas</h1>
            <div class="row">
                <div class="col-md-6 col-md-offset-3 ">
                    <div class="panel panel-default" id="login-box">
                        <div class="panel-heading">
                            Login
                        </div>
                        <div class="panel-body">
                            <div class="alert alert-danger" th:if="${param.error}">
                                Invalid username and password.
                                <strong th:text="${param.error[0]}"></strong>
                            </div>

                            <div class="alert alert-success" th:if="${param.logout}">
                                You have been logged out.
                            </div>

                            <form th:action="@{/login}" method="POST">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input class="form-control" type="email" required="required" name="username"/> 
                                </div>
                                <div class="form-group">
                                    <label>Senha</label>
                                    <input class="form-control" type="password" required="required" name="password"/> 
                                </div>

                                <span class="form-group">
                                    <input class="btn btn-primary" type="submit" value="Sign In"/>
                                </span>
                            </form>                  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 ">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Cadastro
                        </div>
                        <div class="panel-body">
                            <div class="alert alert-danger" th:if="${msg}">
                                Este email já está cadastrado.
                                <strong th:text="${msg}"></strong>
                            </div>
                            <form action="#" th:action="@{/add}" th:object="${usuario}" method="POST">

                                <input type="hidden" th:field="*{id}"/> 

                                <div class="form-group">
                                    <label for="nome" th:text="#{usuario.nome}"></label>
                                    <input class="form-control" type="text" required="required" th:field="*{nome}"/>
                                    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
                                </div>

                                <div class="form-group">
                                    <label for="nascimento" th:text="#{usuario.nascimento}"></label>
                                    <input class="form-control" type="date" required="required" th:field="*{nascimento}" />
                                    <span th:if="${#fields.hasErrors('nascimento')}" th:errors="*{nascimento}"></span>
                                </div>

                                <div class="form-group">
                                    <label for="cidade" th:text="#{usuario.cidade}"></label>
                                    <input class="form-control" type="text" required="required" name="cidade" th:field="*{cidade}" />
                                    <span th:if="${#fields.hasErrors('cidade')}" th:errors="*{cidade}"></span>
                                </div>

                                <div class="form-group">
                                    <label for="email" th:text="#{usuario.email}"></label>
                                    <input class="form-control" type="email" required="required" th:field="*{email}" maxlength="50"/>
                                    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                                </div>

                                <div class="form-group">
                                    <label for="senha" th:text="#{usuario.senha}"></label>
                                    <input class="form-control" type="password" required="required" th:field="*{senha}" oninvalid="this.setCustomValidity('No m&iacute;nimo 8 caracteres')" oninput="this.setCustomValidity('')" pattern=".{8,}" />
                                    <span th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"></span>
                                </div>

                                <div class="form-group">
                                    <input class="btn btn-primary" type="submit" th:value="#{form.submit}" />
                                </div>
                            </form>          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
