<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">  

    <head th:include="fragments :: head('Pesquisar novos amigos')">
        <title>teste</title>
    </head>

    <body>
        <div th:replace="fragments :: navbar">
        </div>

        <div class="container" style="margin-top: 80px;">

            <h2>Conheça novos amigos</h2>
            <form th:action="@{/pesquisar}" method="POST">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Filtrar</button>
                            </span>
                            <input type="text" name="filtro" class="form-control" placeholder="Pesquise por nome ou sobrenome!"/>
                        </div>
                    </div>
                </div> 

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th th:text="Nome" />
                            <th th:text="Cidade" />
                            <th th:text="#{solicitacao}" />
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="u : ${usuarios}">
                            <td th:text="${u.nome}">NOME</td>
                            <td th:text="${u.cidade}">CIDADE</td>
                            <td>
                                <a th:href="@{/adicionar/{id}(id=${u.id})}" class="btn btn-default btn-xs">Adicionar</a>                                
                            </td>
                        </tr>
                    </tbody>
                </table>

            </form>

        </div>
    </body>

</html>
