html{

}

#login-box{
    margin-top: 20px;
}

#fundo-externo{
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
}

#fundo{
    position: fixed; 
    width: 100%;
    height: 100%;
}

#fundo img{
    width: 100%;
    position: absolute;
}

#site{
    border-radius: 15px;
    position: absolute;
    top: 40px;
    left: 50%;
    width: 560px;
    padding: 20px;
    margin-left: -300px;
    text-align: center;
    background: rgba(255,255,255,0.8); 
}

.container, .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    /*background-color: #f9f9f9; */
}
.row {
    margin-bottom: 20px;
}
[class*="col-"], header, footer, nav, aside, section, div[role="main"] {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f5f5f5;
    background-color: rgba(86,61,124,.15);
    border: 1px solid #ddd;
    border: 1px solid rgba(86,61,124,.2);
    text-align: center;
}
div[role="main"] {
    background-color: #fff;
}
div[role="main"], nav, aside {
    height: 100%;
}

#input-post{
    height: 100px;
}

.laterais{
    color: white;
}

#perfil{
    color: lightgray;
}